<!DOCTYPE html>
<html lang="en" ng-app="madLibs">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-messages.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<link href="style.css" rel="stylesheet" type="text/stylesheet" />
</head>
<body ng-controller="madLibsCtrl">
	<div id="container">
		<section id="header">
			<div id="logo">
				<img src="https://dl-web.dropbox.com/get/mad-lib-happy-face.png?_subject_uid=3016618&w=AACvKjiDtEb95G4ncAze_4Gsw5s0bV967KOgqrva2tVVYg" alt="Smiley Face"/>
			</div>
			<div id="title">
				<img src="https://dl-web.dropbox.com/get/ng-mad-libs-logo.png?_subject_uid=3016618&w=AADl8jJ8QGwJEZHuwefshaDJ5zdaX_e8W2a6kyGrjGBglg" alt="ngMadLibs Logo"/>
				<h1>Automate This!</h1>
			</div>
		</section>
		<section id="words" class="panel" ng-show="(view === 'words')">
			<form name="madlibsWords" novalidate ng-submit="submitWords()">
				
				<!-- Error messages -->
				<div class="error-div" ng-messages="madlibsWords.$submitted && madlibsWords.$error">
					<p class="error" ng-message="required">All fields are required</p>
				</div>
				<div class="error-div" ng-messages="madlibsWords.$submitted && madlibsWords.hugeNumber.$error">
					<p class="error" ng-message="number">Enter numbers for "huge numbers"</p>
				</div>

				<!-- Form content -->
				<h2>Provide the following words:</h2>
				<div class="row">
					<input type="radio" name="gender" value="M" ng-model="gender" ng-click="changeToMale()" checked>Male
					<input type="radio" name="gender" value="F" ng-model="gender" ng-click="changeToFemale()">Female
				</div>
				<div class="col">
					<input type="text" name="name"        ng-model="name"        placeholder="name"         required/>
					<input type="text" name="jobTitle"    ng-model="jobTitle"    placeholder="job title"		required/>
					<input type="text" name="tediousTask" ng-model="tediousTask" placeholder="tedious task" required/>
				</div>
				<div class="col">
					<input type="text" name="dirtyTask"    ng-model="dirtyTask"    placeholder="dirty task"    required/>
					<input type="text" name="celebrity"    ng-model="celebrity"    placeholder="celebrity"     required/>
					<input type="text" name="uselessSkill" ng-model="uselessSkill" placeholder="useless skill" required/>
				</div>
				<div class="col">
					<input type="text"   name="obnoxCeleb" ng-model="obnoxCeleb" placeholder="obnoxious celebrity" required/>
					<input type="number" name="hugeNumber" ng-model="hugeNumber" placeholder="huge number"         required/>
					<input type="text"   name="adjective"  ng-model="adjective"  placeholder="adjective"           required/>
				</div>
				<div class="row submit">
					<input type="submit" name="submitBtn" value="Generate Mad Libs" />
				</div>
			</form>
		</section>

		<section id="story" class="panel" ng-show="view === 'story'">
			<p>
				<u>{{name || "name"}}</u> was a 
				<u>{{jobTitle || "job title"}}</u> who loved technology. Although {{ firstPro }} loved parts of {{ possPro }} job,	{{ firstPro }} absolutely hated 
				<u>{{tediousTask || "tedious task"}}</u> and 
				<u>{{dirtyTask || "dirty task"}}</u>. So, 
				<u>{{name || "name"}}</u> met with	{{ possPro }} life mentor 
				<u>{{celebrity || "celebrity"}}</u> who told	{{ secondPro }} to learn how to
				<u>{{uselessSkill || "uselessSkill"}}</u> with Thinkful. Thinkful didn't offer a course on
				<u>{{uselessSkill || "uselessSkill"}}</u> so he studied programming instead.
			</p>

			<p>What a great decision! With {{ possPro }} new skills, 
				<u>{{name || "name"}}</u> built a(n)
				<u>{{adjective || "adjective"}}</u> robot named	
				<u>{{obnoxCeleb || "obnoxCeleb"}}</u> that not only loved	
				<u>{{dirtyTask || "dirtyTask"}}</u> but did it
				<u>{{hugeNumber || "hugeNumber"}}</u> faster.
			</p>
			<div class="row submit">
				<input type="button" name="startOverBtn" value="Start Over" ng-click="startOver()"/>
			</div>
		</section>

		<!-- <pre>{{madlibsWords.hugeNumber | json}}</pre> -->
		<!-- <pre>{{ madlibsWords.jobTitle.$error | json}}</pre> -->
		<!-- <p ng-show="madlibsWords.jobTitle.$error">Something</p> -->

	</div>
</body>
</html>