* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#container {
	width: 800px;
	margin: 1rem auto;
	position: relative;
}
section {
	border: 2px solid black;
}
#header {
	height: 130px;
}
#logo {
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
	border: 1px solid black;
	text-align: center;
	padding: 1em 0;
}
#logo img {
	width: 56%;
}
#title {
	width: 80%;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
}
#title img {
	width: 43%;
}
h1 {
	font-size: 4rem;
	margin-top: -1rem;
	margin-bottom: 0;
}
#header::after, #words::after {
	content: "";
	display: block;
	clear: both;
}
#words, #story {
	padding: 1rem 4rem 4rem;
	width: 100%;
	position: absolute;
}
.row {
	width: 100%;
	padding-left: 1rem;
	margin-bottom: 1rem;
	clear: both;
}
.col {
	display: inline-block;
	width: 33.33%;
	float: left;
	text-align: center;
}
input {
	margin-bottom: 1em;
}
p {
	font-size: 1.25rem;
	line-height: 1.4;
}
.submit {
	text-align: right;
	padding-right: 1.5rem;
	padding-top: 1rem;
}

.ng-submitted .ng-invalid {
	border: 1px solid red;
}
.error {
	color: indianred;
}

/*===================*/
/*     ANIMATION     */
/*===================*/
.panel.ng-hide-add, .panel.ng-hide-remove {
	        transition: 0s linear all;
	     -o-transition: 0s linear all;
	   -moz-transition: 0s linear all;
	-webkit-transition: 0s linear all;
}
.panel.ng-hide-add-active, .panel.ng-hide-remove-active,
.error, .error-div
 {
	        transition: 0.5s ease-out all;
	     -o-transition: 0.5s ease-out all;
	   -moz-transition: 0.5s ease-out all;
	-webkit-transition: 0.5s ease-out all;
}


#story.ng-hide-add,
#story.ng-hide-remove.ng-hide-remove-active {
	position: absolute;
	left: 0;
	opacity: 1;
}
#story.ng-hide-remove,
#story.ng-hide-add.ng-hide-add-active {
	position: absolute;
	left: -800px;
	opacity: 0;
}

#words.ng-hide-add,
#words.ng-hide-remove.ng-hide-remove-active {
	position: absolute;
	left: 0;
	opacity: 1;
}
#words.ng-hide-remove,
#words.ng-hide-add.ng-hide-add-active {
	position: absolute;
	left: 800px;
	opacity: 0;
}

.error-div p {
	margin: 3px 0;
}
.error-div.ng-inactive {
	opacity: 0;
}
.error-div.ng-active {
	opacity: 1;
}

.error.ng-enter,
.error.ng-leave.ng-leave-active {
	opacity: 0;
	-webkit-margin-before: -1em;
}
.error.ng-leave,
.error.ng-enter.ng-enter-active {
	opacity: 1;
	-webkit-margin-before: 0;
}

p{ 
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}